{% if user.is_authenticated %}
<h1>{{ user.username }}'s Dashboard</h1>

<a href="/logout/">Logout</a>
<div>
  <h2>Queues Owned</h2>
  {% for q in owned %}
    <a href="/profile/{{ q.creator.user.username }}/{{ q.id }}/">{{ q.name }}</a><br/>
  {% endfor %}
</div>
<form id="add_queue_form" method="post" action="/dashboard/">
  {% csrf_token %}
  <h3>Create Queue</h3>
  Queue Name: <input type="text" name="queuename"/> 
  <input type="submit" value="Submit"/>
</form>
<div>
  <h2>Queues In</h2>
  {% for q in qin %}
    <a href="/profile/{{ q.creator.user.username }}/{{ q.id }}/">{{ q.name }}</a><br/>
  {% endfor %}
</div>

{% if exists and not queuename == None %}
  <script>
    alert("Queue with that name already exists!")
  </script>
{% endif %}

<h2>Search</h2>
<form action="/search/" method="get">
  <input type="text" name="q"/>
  <input type="submit" value="Search"/>
</form>

<h2>Favorites</h2>
{% for fav in favorites %}
  <a href="/profile/{{ fav.creator.user.username }}/{{ fav.id }}/">{{ fav.name }}</a>
{% endfor %}
{% if not favorites %}
  <p>You have no favorites</p>
{% endif %}

<!--
<h2>Recently Visited</h2>
{% for vis in visited %}
  <a href="/profile/{{ vis.creator.user.username }}/{{ vis.id }}/">{{ vis.name }}</a>
{% endfor %}
{% if not visited %}
  <p>You haven't visited any queues yet.</p>
{% endif %}

{% endif %}
-->
