{% extends 'base.html' %}



{% block content %}
<section class="featured">
        <div class="container"> 
            <div class="row mar-bot40">
                <div class="col-md-6 col-md-offset-3">
                    
                    <div class="align-center">
                        <i class="fa fa-sort-alpha-asc fa-5x mar-bot20"></i>
                        <h2 class="slogan">Welcome to Queuebble</h2>
                        <p>
                        queue, from everywhere           
                        </p>    
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- services -->
    <section id="section-services" class="section pad-bot30 bg-white">
    <div class="container"> 
    
        <div class="row mar-bot40">
            <div class="col-lg-4">
                <div class="align-center">
                    <img rel="shortcut icon" src="../../static/pebble.ico" class="mar-bot10" /> 
                    <h4 class="text-bold">Pebble Swatch Integration</h4>
                    <p>Integrate the web app with your pebble watch and receive notifications when you are next on the queue!
                    </p>
                </div>
            </div>
                <style>
        </style>
            <div class="col-lg-4" >
                <div class="align-center">
                    <i class="fa fa-users fa-5x mar-bot30 mar-top30"></i>
                    <h4 class="text-bold">Socialize</h4>
                    <p> See where you are relative to your classmates, and see how large the queue is. 
                    </p>
                </div>
            </div>
        
            <div class="col-lg-4" >
                <div class="align-center">
                    <i class="fa fa-star-o fa-5x mar-bot30 mar-top30"></i>
                    <h4 class="text-bold">Favorite</h4>
                    <p> Add the queues for all your classes to your favorites for quick and easy access!
                    </p>
                </div>
            </div>
        
        </div>  

    </div>
    </section>


    <section id="footer" class="section footer">
    <div class="container">
        <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
            <div class="col-sm-12 align-center">
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                </ul>               
            </div>
        </div>

        <div class="row align-center copyright">
                <div class="col-sm-12"><p>Copyright &copy; 2014 Amoeba - by <a href="http://bootstraptaste.com">Bootstraptaste</a></p></div>
        </div>
    </div>

</section>
<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a> 

{% endblock %}

