<!DOCTYPE html>
<html>
  <head>
    <title>Queuebble</title>
  </head>

  <body>
    <h1>Login to Queuebble</h1>

    <form id="login_form" method="post" action="/login/">
      {% csrf_token %}
      Username: <input type="text" name="username" value="" size="50"/>
      <br/>
      Password: <input type="password" name="password" value="" size="50"/>
      <br/>
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}
      <input type="submit" value="submit"/>
    </form>
  </body>
</html>
