<head>
  <script type="text/javascript" src="http://farhadi.ir/projects/html5sortable/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="http://farhadi.ir/projects/html5sortable/jquery.sortable.js"></script>  
</head>
<h1>{{ username }}'s Queue</h1>

<h3>{{ queue.name }}</h3>

{% if not myqueue %}
  {% if fav %}
    <form method="post" id="remove_favorite" action="/profile/{{ username }}/{{ uid }}/">
      {% csrf_token %}
      <input type="submit" name="removeFavorite" value="Remove from Favorites"/>
    </form>
  {% else %}
    <form method="post" id="add_favorite" action="/profile/{{ username }}/{{ uid }}/">
      {% csrf_token %}
      <input type="submit" name="addFavorite" value="Add to Favorites"/>
    </form>
  {% endif %}
{% endif %}

{% if not contains and not myqueue %}
  <form id="add_to_queue_form" method="post" 
        action="/profile/{{ username }}/{{ uid }}/">
    {% csrf_token %}
    <input type="submit" name="addMyself" value="Add myself to this queue"/>
  </form>
{% endif %}

{% if contains %}
  {% if user_node.position == 1 %}
    <h4> There is {{ user_node.position }} person in front of you.</h4>
  {% else %}
    <h4> There are {{ user_node.position }} people in front of you.</h4>
  {% endif %}
{% endif %}

<form id="reorder" method="post" action="/profile/{{ username }}/{{ uid }}">
  <ul id="sortable1" class="sortable list">
    {% for n in nodes %}
      {% if n == user_node %}
        <li draggable="true"><strong>{{ n.user }}</strong>
	  <form id="remove_myself_form" method="post" 
          action="/profile/{{ username }}/{{ uid }}/">
	    {% csrf_token %}
	    <input type="submit" name="removeMyself" value="Remove myself from this queue"/>
	  </form>
          <br/></li>
      {% else %}
	<li draggable="true">{{ n.user }} 
	  {% if myqueue %}
            <form id="remove_from_myqueue_form" method="post" 
              action="/profile/{{ username }}/{{ uid }}/">
	      {% csrf_token %}
	      <input type="hidden" name="nodeToRemove2" value="{{ n.user }}"/>
	      <input type="submit" name="removeFromMyQueue" value="Remove this person from my Queue"/>
	    </form>
          {% endif %}
          <br/></li>
      {% endif %}
    {% endfor %}
    {% if not qsize == 0 %}
      <input type="submit" name="reorderQueue" value="Submit Reordering"/>
    {% endif %}
  </ul>
<script>
   $(function(){
     $('#sortable1').sortable();
   });
  </script>
</form>

